@import "/header.css";
@import "/services.css";
@import "/team.css";
@import "/footer.css";
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.link {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
