.team {
  padding-bottom: 82px;
}
.team__occupation {
  font-size: 15px;
  font-family: 'Roboto';
  color: #999999;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 95px;
  width: 980px;
}
.team__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
.team__item {
  position: relative;
}
.team__item-image {
  position: relative;
}
.overlay {
  position: absolute;
  top: 5px;
  width: 380px;
  height: 470px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(238, 215, 135, 0.96)),
    to(rgba(238, 137, 138, 0.96))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(238, 215, 135, 0.96),
    rgba(238, 137, 138, 0.96)
  );
  background: linear-gradient(
    0deg,
    rgba(238, 215, 135, 0.96),
    rgba(238, 137, 138, 0.96)
  );
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  -o-transition: transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  opacity: 0;
  &:hover,
  &:focus {
    -webkit-transform: translate(-3%, -3%);
    -ms-transform: translate(-3%, -3%);
    transform: translate(-3%, -3%);
    opacity: 1;
    z-index: 2;
    -webkit-box-shadow: 12px 14px 0px 3px $primary-blue-color;
    box-shadow: 12px 14px 0px 3px $primary-blue-color;
  }
}

.overlay__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  background-color: $primary-yellow-color;
}
.overlay__icon-item {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  border-right: 1px solid $primary-red-color;
  &:hover,
  &:focus {
    background-color: $primary-red-color;
  }
  &:last-child {
    border-right: none;
  }
}

.overlay a {
  width: 58px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover svg,
  &:focus svg {
  fill: $primary-white-color;
}
}
.overlay svg {
  width: 25px;
  height: 25px;
  fill: $primary-red-color;
}

.team__item-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat';
  color: $primary-gray-color;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}
.team__item-position {
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto';
  color: #b5b5b5;
  margin: 0 auto;
}
