* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: block;
}
.wrapper
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.page-header {
  margin-bottom: 130px;
}
.page-nav {
  display: flex;
  min-height: 50px;
  align-items: flex-end;
  justify-content: space-between;
}
.site-logo {
  text-decoration: none;
  color: #95e1d3;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bold;
}
.site-navigation {
  width: 490px;
  justify-content: space-between;
  list-style: none;
  display: flex;
}

.site-navigation a {
  text-transform: uppercase;
  color: #95e1d3;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  transition: color 200ms;
  position: relative;
}
.site-navigation a:hover,
.site-navigation a:focus {
  cursor: pointer;
  color: #f38181;
}
.site-navigation a::after {
  background-color: #f38181;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: width 200ms;
}
.site-navigation a:hover::after,
.site-navigation a:focus::after {
  width: 100%;
}
/* SECTION SERVICE */
.title-work {
  text-transform: none;
  text-align: center;
  font-size: 24px;
  font-family: "Kaushan Script";
  color: #000000;
  margin-bottom: 22px;
}
.title-service {
  font-size: 24px;
  font-family: "Montserrat";
  margin-bottom: 22px;
  text-align: center;
  margin-bottom: 68px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  line-height: 2.1;
}
.title-servace-main {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 43px;
}
.title-service::after {
  content: "";
  display: block;
  border-bottom: #f38181;
  border-bottom-style: solid;
  width: 60px;
  height: 3px;
  text-align: center;
  padding-top: 43px;
  margin: 0 auto;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.service-list-item {
  position: relative;
  text-align: left;
  margin-bottom: 100px;
  flex: 0 0 300px;
  margin-left: 65px;
}
.service-list-item::before {
  height: 32px;
  width: 33px;
  position: absolute;
  left: -60px;
  top: 3px;
  content: "";
}
.icon-alarm::before {
  background-image: url("img/icon/icon-alarm.png");
}
.icon-line::before {
  background-image: url("img/icon/icon-line.png");
}
.icon-computer::before {
  background-image: url("img/icon/icon-computer.png");
}
.icon-book::before {
  background-image: url("img/icon/icon-book.png");
}
.icon-home::before {
  background-image: url("img/icon/icon-home.png");
}
.icon-image::before {
  background-image: url("img/icon/icon-image.png");
}
.service-name {
  margin-bottom: 15px;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.service-occupation {
  font-size: 15px;
  font-family: "Roboto Regular";
  color: #999999;
}
.service-list-item:nth-child(n + 4) {
  margin-bottom: 90px;
}
/* SECTION TEAM */
.team-section {
  padding-bottom: 82px;
}
.title-are {
  text-align: center;
  font-size: 24px;
  font-family: "Kaushan Script";
  color: #000000;
  margin-bottom: 23px;
}
.title-team-main {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 49px;
}
.title-team-main::after {
  content: "";
  display: block;
  border-bottom: #f38181;
  border-bottom-style: solid;
  width: 60px;
  height: 3px;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
}
.title-occupation {
  font-size: 15px;
  font-family: "Roboto";
  color: #999999;
  text-align: center;
  margin-bottom: 95px;
}
.card {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
.card_list {
  position: relative;
}
.social-image {
  position: relative;
}
.overlay {
  position: absolute;
  top: 5px;
  width: 380px;
  height: 470px;
  background: linear-gradient(
    0deg,
    rgba(238, 215, 135, 0.96),
    rgba(238, 137, 138, 0.96)
  );
  transition: transform 200ms;
  opacity: 0;
}
.overlay:hover,
.overlay:focus {
  transform: translate(-3%, -3%);
  opacity: 1;
  z-index: 2;
  box-shadow: 12px 14px 0px 3px #95e1d3;
}
.social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0 auto;
  background-color: #fce38a;
}
.social-icon-item {
  background-image: url(img/social-icon/facebook.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  border-right: 1px solid #f38181;
}
.social-icon-item:nth-child(2n) {
  background-image: url(img/social-icon/twitter.png);
}
.social-icon-item:nth-child(3n) {
  background-image: url(img/social-icon/pinterest.png);
}
.social-icon-item:nth-child(4n) {
  background-image: url(img/social-icon/instagram.png);
}
.social-icon-item:hover,
.social-icon-item:focus {
  background-color: #95e1d3;
}
.social-icon-item:last-child {
  border-right: none;
}
.team_name {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}
.team_position {
  text-align: center;
  font-size: 15px;
  font-family: "Roboto";
  color: #b5b5b5;
  margin: 0 auto;
}

/* FOOTER SECTION */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 50px;
  border-top: solid #e5e5e5;
  padding-top: 24px;
}

.footer-occupation {
  font-size: 14px;
  font-family: "Montserrat";
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.publishing {
  color: #f9c0c0;
}

.form {
  height: 40px;
  width: 230px;
  border: 1px solid #e5e5e5;
  border-right: none;
  text-align: left;
  padding-left: 13px;
  font-size: 15px;
  font-family: "Roboto";
  color: #000000;
}
.button {
  height: 40px;
  width: 150px;
  background-color: #95e1d3;
  border: none;
}
.form::placeholder {
  text-align: left;
  padding-left: 13px;
  font-size: 15px;
  font-family: "Roboto";
  color: #cccccc;
}
.button-name {
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  border-radius: 0%;
  border: none;
}
