* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix {
  clear: both;
  content: "";
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.site-logo {
  text-decoration: none;
  color: #0f0101;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 30px;
  color: #555252;
  text-transform: uppercase;
}
.site-logo::first-letter {
  color: #1abc9c;
  font-weight: bold;
}
.site-navigation {
  width: 465px;
  justify-content: space-between;
  list-style: none;
  display: flex;
}

.site-navigation a {
  text-transform: uppercase;
  color: #0f0101;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
}
.site-navigation a:hover,
.site-navigation a:focus {
  cursor: pointer;
  color: #85dbca;
}
/* SLIDER SECTION */
.slider {
  width: 1110px;
  height: 600px;
  position: relative;
}
.slides {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slides-image {
  max-width: 100%;
  object-fit: cover;
  height: 600px;
}
.slider-ctrl {
  width: 104px;
  height: 104px;
  background-color: #54a290;
  opacity: 0.651;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.slider-ctrl:hover,
.slider-ctrl:focus {
  cursor: pointer;
  background-color: #1abc9c;
  opacity: 1;
}
.slider-ctrl-prev {
  position: absolute;
  left: 0;
}
.slider-ctrl-next {
  position: absolute;
  right: 0;
}
.slides-item {
  position: relative;
  height: 600px;
  width: 1110px;
}
.slides-occupation {
  position: absolute;
  top: 220px;
  left: 185px;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}
.slides-title {
  font-size: 60px;
  margin-bottom: 35px;
  font-weight: bold;
  color: #ffffff;
}
.slides-descr {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: lighter;
  color: #ffffff;
}
/* MAIN SECTION */
.background {
  height: 676px;
  background-color: #e9f0fd;
}
.card-occupation {
  text-align: center;
  padding-top: 100px;
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #515151;
  margin-bottom: 100px;
}
.card-occupation::after {
  content: "";
  border-bottom: #1abc9c;
  border-bottom-style: solid;
  width: 164px;
  height: 7px;
  margin: 0 auto;
  display: block;
}
.card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  position: relative;
  width: 255px;
  height: 322px;
  background-image: url(img/card.png);
}
.card:nth-child(2n) {
  background-image: url(img/card2.png);
}
.card:nth-child(3n) {
  background-image: url(img/card3.png);
}
.card:nth-child(4n) {
  background-image: url(img/card4.png);
}
.icon {
  display: flex;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translatex(-50%);
  margin: 0 auto;
}
.social-icon-item {
  position: relative;
  border: 1px solid #ffffff;
  display: block;
  width: 49px;
  height: 49px;
  margin-right: 9px;
}
.social-icon-item:hover,
.social-icon-item:focus {
  background-color: #1abc9c;
  border: none;
}
.social-icon__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  position: absolute;
  width: 255px;
  height: 282px;
  background-color: rgba(115, 115, 115, 0.549);
  box-sizing: border-box;
  opacity: 0;
  border: 10px solid rgb(255, 255, 255);
}
.overlay:hover,
.overlay:focus {
  opacity: 1;
}
.add-card {
  margin: 0 auto;
  padding: 0;
  width: 165px;
  height: 50px;
  position: absolute;
  top: 147px;
  left: 30px;
  border: 1px solid #ffffff;
}
.add-card:hover,
.add-card:focus {
  background-color: #323232;
  cursor: pointer;
}
.add__card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}
.add-img {
  width: 28px;
  height: 26px;
}
.add-occupation {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}
.card_occupation {
  width: 255px;
  height: 40px;
  position: absolute;
  top: 282px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.occupation-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Roboto Black";
  line-height: 40px;
}
.occupation-name {
  width: 200px;
  height: 40px;
  background-color: #323232;
  padding-left: 14px;
}
.occupation-name:hover,
.occupation-name:focus {
  background-color: #1abc9c;
}
.occupation-price {
  width: 55px;
  height: 40px;
  background-color: #8c8c8c;
  text-align: center;
}
.occupation-price:hover,
.occupation-price:focus {
  background-color: #7fd9c7;
}
/* FOOTER */
.footer {
  height: 88px;
  background-color: #323232;
}
.footer_occupation {
  font-size: 16px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 88px;
}
span {
  color: #46bfa9;
}