img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 320px;
  margin: 0 auto;
}
.a {
  display: block;
}
.page_header {
  background: rgba(26, 25, 21, 0.35) url("img/Background.jpg");
  background-blend-mode: darken;
  background-position: center;
  min-height: 540px;
  background-repeat: no-repeat;
  background-size: cover;
}
.site_navigation {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 33px;
}
.site_navigation a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  padding: 8px 16px;
  font-weight: lighter;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 25px;
  transition: border 400ms;
}
.site_navigation_link {
  margin-bottom: 125px;
}
.site_navigation a:hover,
.site_navigation a:focus {
  border: 2px solid #ffffff;
  border-radius: 25px;
}
.title {
  text-align: center;
}
.site_logo_name {
  margin: 0 auto;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.title_name {
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin: 0 auto;
}
.title_occupation {
  display: inline-block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 218px;
  text-align: center;
}
.button_header {
  width: 280px;
  height: 40px;
  background-color: #ff4e50;
  border-radius: 25px;
  border: none;
  text-align: center;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 400ms;
}
.button_header:hover,
.button_header:focus {
  background-color: transparent;
  border: 2px solid #ff4e50;
  border-radius: 25px;
}
/* MAIN */
.partners {
  padding-top: 67px;
  padding-bottom: 55px;
}
.partners_occupation {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.partners_list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}
.partners_list_item {
  position: relative;
  text-align: center;
  width: 215px;
  margin: 0 auto;
  margin-bottom: 27px;
}
.partners_image {
  margin: 0 auto;
}

.partners_list_item::after {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  left: 135px;
  top: 85px;
  border: 5px solid white;
  z-index: 100;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon_tv::after {
  background-color: #ff4e50;
  background-image: url("img/icons/tv.png");
}
.icon_bottle::after {
  background-color: #ffa507;
  background-image: url("img/icons/bottle.png");
}
.icon_coffe::after {
  background-color: #1cd7ad;
  background-image: url("img/icons/coffe.png");
}
.icon_telegramm::after {
  background-color: #4e73db;
  background-image: url("img/icons/telegram.png");
}
.partners_name {
  font-size: 14px;
  font-family: "Montserrrat", sans-serif;
  font-weight: bold;
}
.partners_description {
  margin: 0 auto;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: #8f8f8f;
}
.partners_button {
  width: 280px;
  height: 40px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  border-radius: 25px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ff4e50;
  cursor: pointer;
  transition: background-color 400ms;
}
.partners_button:hover,
.partners_button:focus {
  cursor: pointer;
  background-color: #ff4e50;
  color: #ffffff;
}
.button_partners {
  display: flex;
}
