$main-font-stack: "Montserrat", "Roboto", sans-serif;
$primary-white-color: #ffffff;
$primary-yellow-color: #fce38a;
$primary-black-color: #000000;
$primary-red-color: #f38181;
$primary-blue-color: #95e1d3;
$primary-gray-color: #333333;