@font-face {
    font-family: "Montserrat";
    src: url("fonts/montserrat-v14-latin-700.woff") format("woff"),
      url("fonts/montsearrat-v14-latin-700.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    src: url("fonts/roboto-v20-latin-100.woff") format("woff"),
      url("fonts/roboto-v20-latin-100.woff2") format("woff2");
    font-weight: lighter;
    font-style: normal;
  }